<div class="card ">
    <div class="header">
        <h4 class="title">Notifications</h4>
        <p class="category">Things you need to be aware about</p>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h5>Notification states</h5>
                <div class="alert alert-info">
                    <button type="button" aria-hidden="true" class="close">×</button>
                    <span><b>Password strength ok</b></span>
                    <span>We are not rotating this password.</span>
                </div>
                <div class="alert alert-danger">
                    <button type="button" aria-hidden="true" class="close">×</button>
                    <span><b>Vulnerability Discovered!</b></span>
                    <span
                        >The firmware requires an update to protect a recently discovered
                        vulnerability. Learn how to upgrade your system <a href="#">here</a>, or
                        reach out to us to assist you in this upgrade.</span
                    >
                </div>
                <div class="alert alert-warning">
                    <button type="button" aria-hidden="true" class="close">×</button>
                    <span><b>Ports are Open</b></span>
                    <span>We recommend that you close ports that you do not use.</span>
                </div>
            </div>
        </div>
    </div>
</div>
